body[data-theme="dark"] {
  --colors-text: #ffffff;
  --colors-bg: #202c37;
  --colors-ui-base: #2b3945;
  --colors-link: #de8927;
  --colors-link-hover: #e57d07;

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme="light"] {
  --colors-text: #111517;
  --colors-bg: #fafafa;
  --colors-ui-base: #b3b3b3;
  --colors-link: #7f4209;
  --colors-link-hover: #de8b2b;

  --shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
}

body {
  color: --colors-text;
  background-color: --colors-bg;
}
