$color-green: #80c890;
$color-dark-green: #458a54;
$color-light-red: #ff8181;
$color-red: #ff6a55;
$color-pink: #fef6f4;
// $color-black-op04: rgba(4, 4, 4, 0.4);

$color-black: #282828;
$color-white: #fff;
$color-light-beige: #e0dfdd;
$color-medium-beige: #d4d2cc;
$color-grey: #4c4c4c;
$color-orange: #de8927;
