.contactssocial {
  // grid-area: contacts;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__list {
    display: flex;
    // flex-direction: column;
    gap: 20px;
  }
  &__item svg {
    width: 3rem;
    height: 3rem;
  }
}
