body[data-theme="light"] .actressmainblock {
  // background-image: url("../../base/theme/img/background-paint.avif");
  // // background-image: url("../../base/theme/img/background-beige.avif");
  // background-size: auto;
  // background-size: cover;
}

body[data-theme="dark"] .actressmainblock {
  // background-image: url("../../base/theme/img/background-dark.avif");
  // background-size: auto;
}

.actresswelcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 3rem;
  gap: 100px;
  max-width: 1200px;
  width: 100%;
}
