body[data-theme="light"] .mainpage__main {
  background-image: url("../../base/theme/img/background-light.avif");
  // background-image: url("./img/background-beige.avif");
  background-size: auto;
}

body[data-theme="dark"] .mainpage__main {
  background-image: url("../../base/theme/img/background-dark.avif");
  background-size: auto;
}

.mainpage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 100px;
    //  background-color: var(--colors-bg);
    background-color: transparent;
  }
  &__main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 30px;

    // background-image: url("./img/background-beige.avif");
    // background-image: url("./img/background-dark.avif");
    // background-image: url("./img/background-light.avif");
    // background-image: url("./img/test/background-of-paint-still-life.jpg");
    //!выбрать, уменьшить, поменять на background

    // background-image: url("./img/test/black-fabric-textile-textured-background.jpg");
    // background-image: url("./img/test/fabric-textured.jpg");
    // background-image: url("./img/test/gray-fabric-cloth-texture-abstract-background-furniture-upholstery.jpg");
    // background-image: url("./img/test/yellow-linen-textile-textured-background.jpg");
    // background-image: url("./img/test/gray-fabric-cloth-texture-abstract-background-furniture-upholstery.jpg");
    //
    // background-image: url("./img/background-beige.avif");
    // background-image: -webkit-image-set(url("./img/background-beige.avif"), url("./img/background-beige.webp"));
    // background-image: image-set(
    //   url("./img/background-beige.avif") type("image/avif"),
    //   url("./img/background-beige.webp") type("image/webp"),
    //   url("./img/background-beige.jpg") type("image/jpg")
    // );
    background-repeat: repeat;

    background-color: var(--colors-bg);
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 100px;
    //  background-color: var(--colors-bg);
    background-color: transparent;
  }

  //   &__logocontainer {
  //     width: 300px;
  //     height: 300px;
  //     margin-bottom: 20px;
  //   }
  &__logo {
    width: 300px;
    height: 300px;
  }

  &__title {
    font-size: 50px;
  }

  &__linkcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }

  &__link {
    // font-size: 30px;
  }

  &__p {
    font-size: 40px;
  }

  &__text {
  }

  &__contacts-list {
    display: flex;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
