//

.mainpage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  max-width: 1200px;

  &__main {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 30px;

    background-repeat: repeat;
  }

  &__toggle {
    position: absolute;
    top: 10rem;
    right: 10rem;
  }

  //*logo
  &__logo {
    width: 240px;
    height: 240px;
    background-color: transparent;

    & * {
      transition: all 300ms ease-out;
    }

    & .svg__l,
    & .svg__a,
    & .svg__s {
      fill: var(--colors-text);
    }

    & .svg__border {
      stroke: var(--colors-text);
    }

    & .svg__i {
      stroke: var(--colors-link-hover);
      transition: all 300ms ease-out;

      &_dot {
        fill: var(--colors-link-hover);
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 4rem;
  }

  &__linkcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }

  &__link {
    // font-size: 30px;
  }

  &__p {
    font-size: 2rem;
  }

  &__text {
  }

  &__item {
    flex: 1;
  }

  &__contacts-list {
    display: flex;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 960px) {
  .mainpage {
    &__main {
      padding: 20px;
    }
  }
}

@media (max-width: 768px) {
  .mainpage {
    &__logo {
      width: 180px;
      height: 180px;
    }

    &__linkcontainer {
      gap: 10px;
    }

    &__main {
      padding: 10px;
    }
    &__toggle {
      right: 5rem;
    }
  }
}

@media (max-width: 415px) {
  .mainpage {
    &__logo {
      width: 160px;
      height: 160px;
    }

    &__main {
      padding: 10px;
    }
  }
}
