body[data-theme="light"] .actressmainblock {
  // background-image: url("../../base/theme/img/background-paint.avif");
  // // background-image: url("../../base/theme/img/background-beige.avif");
  // background-size: auto;
  // background-size: cover;
}

body[data-theme="dark"] .actressmainblock {
  // background-image: url("../../base/theme/img/background-dark.avif");
  // background-size: auto;
}

.actressmainblock {
  display: flex;
  flex-direction: column;
  padding: 150px 50px;
  gap: 100px;
}
