.speechwelcome {
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-rows: auto minmax(300px, auto) auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title title title"
    "image image ."
    "text name name";
  align-items: center;

  &__title {
    grid-area: title;
    font-size: 6rem;
  }

  &__image {
    grid-area: image;
    padding: 0px 0px 50% 0;

    & img {
      border-radius: 40px;
    }
  }
  &__text-container {
    grid-area: text;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    align-self: flex-end;
    justify-self: end;
    text-align: end;
  }
  &__text {
  }
  &__name {
    display: flex;
    grid-area: name;
    font-size: 8.8rem;
    line-height: 10%;

    text-align: end;
    vertical-align: text-bottom;
    justify-self: end;
  }
}
@media (max-width: 960px) {
  .speechwelcome {
    grid-template-areas:
      "title title title"
      "image image image"
      "text name name";
    &__name {
      font-size: 7.5rem;
    }
  }
}

@media (max-width: 768px) {
  .speechwelcome {
    grid-template-rows: auto minmax(300px, auto) auto auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "image image image"
      "name name name"
      "text text .";
  }
}

@media (max-width: 640px) {
  .speechwelcome {
    &__image {
      padding: 0px 0px 65% 0;
    }
    &__title {
      font-size: 4.5rem;
    }
    &__name {
      font-size: 6rem;
    }
  }
}

@media (max-width: 415px) {
  .speechwelcome {
    &__image {
      padding: 0px 0px 80% 0;
    }
    &__title {
      font-size: 3.5rem;
    }
    &__name {
      font-size: 5rem;
    }
  }
}

@media (max-width: 370px) {
  .speechwelcome {
    &__title {
      font-size: 3rem;
    }
    &__name {
      font-size: 4rem;
    }
  }
}
