@import "../../abstracts/variables.scss";
.header {
  position: sticky;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2px;

  &__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    padding: 1rem 3rem;
  }
  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    padding: 0 3rem;

    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 0;
  }

  &__link-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  &__navlink-logo {
    width: 4rem;
    height: 4rem;
  }

  &__logo {
    background-color: transparent;
    width: 4rem;
    height: 4rem;

    & * {
      transition: all 300ms ease-out;
    }

    & .svg__l,
    & .svg__a,
    & .svg__s {
      fill: var(--colors-text);
    }

    & .svg__border {
      stroke: var(--colors-text);
    }

    & .svg__i {
      stroke: var(--colors-link-hover);
      transition: all 300ms ease-out;

      &_dot {
        fill: var(--colors-link-hover);
      }
    }

    &:hover .svg__l,
    &:hover .svg__a,
    &:hover .svg__s {
      fill: var(--colors-link-hover);
      transition: all 300ms ease-out;
    }
    &:hover .svg__border {
      stroke: var(--colors-link-hover);
      transition: all 300ms ease-out;
    }

    &:hover .svg__i {
      stroke: var(--colors-text);
      transition: all 300ms ease-out;

      &_dot {
        fill: var(--colors-text);
      }
    }
  }

  &__contacts {
    &-list {
      display: flex;
      gap: 20px;
    }
    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      & svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__name {
    font-size: 2rem;
  }

  &__toggle {
    display: flex;
    position: relative;
    flex-direction: column;
    // width: 2.8rem;
    // height: 2.8rem;

    // & button {
    //   width: 3rem;
    //   height: 3rem;
    // }

    // & svg {
    //   display: block;
    //   position: absolute;
    //   width: 3rem;
    //   height: 3rem;
    //   top: 0;
    //   left: 0;
    // }
  }

  &__link {
    position: relative;
    &_active {
      text-decoration: underline;
    }
  }
}

.theme-toggle {
  & * {
    fill: var(--colors-link);
    stroke: var(--colors-link);
    width: 30px;
    height: 30px;
    transition: all 300ms ease-out;
    &:hover * {
      fill: var(--colors-link-hover);
      stroke: var(--colors-link-hover);
      transition: all 300ms ease-out;
    }
  }
}

@media (max-width: 1100px) {
  .header {
  }
}

@media (max-width: 960px) {
  .header {
  }
}
@media (max-width: 768px) {
  .header {
    &__name {
      font-size: 1.9rem;
    }
    &__link {
      &-p {
        line-height: 100%;
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    &__top {
      padding: 1rem 1rem;
    }
    &__bottom {
      padding: 0rem 1rem;
    }
  }
}

@media (max-width: 415px) {
  .header {
    &__link {
      &-p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 390px) {
  .header {
    &__link {
      &-p {
        font-size: 1rem;
      }
    }
  }
}
