@import "../../abstracts/variables.scss";
.header {
  position: sticky;
  z-index: 1;
  top: 0px;
  width: 100%;
  padding: 1.2rem 3rem;

  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  &__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 0;
  }

  &__link-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    background-color: transparent;

    & * {
      transition: all 300ms ease-out;
    }

    & .svg__l,
    & .svg__a,
    & .svg__s {
      fill: var(--colors-text);
    }

    & .svg__border {
      stroke: var(--colors-text);
    }

    & .svg__i {
      stroke: var(--colors-link-hover);
      transition: all 300ms ease-out;

      &_dot {
        fill: var(--colors-link-hover);
      }
    }

    &:hover .svg__l,
    &:hover .svg__a,
    &:hover .svg__s {
      fill: var(--colors-link-hover);
      transition: all 300ms ease-out;
    }
    &:hover .svg__border {
      stroke: var(--colors-link-hover);
      transition: all 300ms ease-out;
    }

    &:hover .svg__i {
      stroke: var(--colors-text);
      transition: all 300ms ease-out;

      &_dot {
        fill: var(--colors-text);
      }
    }
  }

  &__contacts {
    &-list {
      display: flex;
      gap: 20px;
    }
    &-link {
      width: 3rem;
      height: 3rem;
      & svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__name {
  }

  &__toggle {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 3.5rem;
    height: 3.5rem;

    & button {
      width: 3.5rem;
      height: 3.5rem;
    }

    & svg {
      display: block;
      position: absolute;
      width: 3.5rem;
      height: 3.5rem;
      top: 0;
      left: 0;
      // width: 2rem;
      // height: 2rem;
    }
    // font-size: 15px;
    // display: flex;
    // align-items: center;
    // gap: 10px;
  }

  &__link {
    position: relative;
    &_active {
      text-decoration: underline;
    }
  }
}

.theme-toggle {
  & * {
    fill: var(--colors-link);
    stroke: var(--colors-link);
    width: 30px;
    height: 30px;
    transition: all 300ms ease-out;
    &:hover * {
      fill: var(--colors-link-hover);
      stroke: var(--colors-link-hover);
      transition: all 300ms ease-out;
    }
  }
}

@media (max-width: 1100px) {
  .header {
  }
}

@media (max-width: 960px) {
  .header {
  }
}
