.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;

  &__top {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__bottom {
  }
  &__copy {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .footer {
  }
}

@media (max-width: 960px) {
  .footer {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    &__top {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
