.actresspage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 3rem;
  gap: 100px;
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 640px) {
  .actresspage {
    padding: 10rem 1rem;
  }
}
