@import "../../abstracts/variables.scss";

.photo {
  grid-area: photo;
  display: flex;
  position: relative;
  flex-direction: column;

  justify-content: space-between;
  flex: 1 70%;
  // padding: 10px;

  &__text {
  }

  &__photo {
    padding: 0px 0px 90% 0;
    position: absolute;
    top: 100px;
  }
}
