@import "./abstracts/variables.scss";
@import "./base/theme/theme.scss";
@import "./base/custom.scss";
@import "./base/font.scss";
@import "./base/focus.scss";
@import "./base/title.scss";
@import "./base/ui-block.scss";
@import "./base/link.scss";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
