@import "./abstracts/variables.scss";
@import "./base/custom.scss";
@import "./base/font.scss";
@import "./base/focus.scss";
@import "./base/title.scss";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}
