@import "../../abstracts/variables.scss";

.work {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: space-between;

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
    position: sticky;
    top: 90px;
    align-self: flex-start;
  }
  &__title {
    white-space: nowrap;
    font-size: 3rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--colors-ui-base);
    flex-direction: 1;
    padding: 30px;
    border-radius: 30px;
  }
  &__text {
  }
}
