@import "../abstracts/variables.scss";

@font-face {
  font-family: "Helvetica Neue";
  src: url(./font/HelveticaNeueCyr-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(./font/HelveticaNeueCyr-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  color: var(--colors-text);
  font-size: 28px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 160%;
}
