.mainspeech {
  // display: flex;
  // flex-direction: column;
  // padding: 10px;
  display: grid;
  gap: 100px;
  grid-template-rows: auto auto;
  grid-template-columns: minmax(auto, 30%) auto;
  grid-template-areas:
    "name photo"
    "contacts experience";
  // padding: 200px 150px 150px 150px;
  padding: 150px;
  background-color: var(--colors-bg);
}
